.container {

  border: 5px solid rgb(2, 133, 57);
  min-width: 600px;
  min-height: 600px;
  
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: 100%;
}

.cell {
   /* center the cell content */
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: Arial;
  font-size: 3rem;
  font-weight: bolder;
  background-color: rgb(108, 234, 156);
  color: rgb(255, 255, 255);
  border: 5px solid rgb(2, 133, 57);
}
